In [1]:
import pandas as pd

In [2]:
ad_clicks = pd.read_csv('https://raw.githubusercontent.com/ChanBotCoder/A-B-Testing-for-ShoeFly.com/main/ad_clicks.csv')

In [3]:
ad_clicks.head()

,user_id,utm_source,day,ad_click_timestamp,experimental_group
0,008b7c6c-7272-471e-b90e-930d548bd8d7,google,6 - Saturday,7:18,A
1,009abb94-5e14-4b6c-bb1c-4f4df7aa7557,facebook,7 - Sunday,NaN,B
2,00f5d532-ed58-4570-b6d2-768df5f41aed,twitter,2 - Tuesday,NaN,A
3,011adc64-0f44-4fd9-a0bb-f1506d2ad439,google,2 - Tuesday,NaN,B
4,012137e6-7ae7-4649-af68-205b4702169c,facebook,7 - Sunday,NaN,B

In [4]:
ad_clicks.groupby('utm_source').user_id.count().reset_index()

  utm_source  user_id
0      email      255
1   facebook      504
2     google      680
3    twitter      215

In [5]:
ad_clicks['is_click'] = ad_clicks.ad_click_timestamp.isnull()

In [7]:
clicks_by_source = ad_clicks.groupby(['utm_source','is_click']).user_id.count().reset_index()
clicks_by_source

  utm_source  is_click  user_id
0      email     False       80
1      email      True      175
2   facebook     False      180
3   facebook      True      324
4     google     False      239
5     google      True      441
6    twitter     False       66
7    twitter      True      149

In [9]:
clicks_pivot = clicks_by_source.pivot(index = 'utm_source', columns = 'is_click' , values = 'user_id').reset_index()
clicks_pivot

is_click utm_source  False  True
0             email     80   175
1          facebook    180   324
2            google    239   441
3           twitter     66   149

In [10]:
clicks_pivot['percent_clicked'] = clicks_pivot[True] / (clicks_pivot[True] + clicks_pivot[False])

In [11]:
print(ad_clicks.groupby('experimental_group').user_id.count().reset_index())

  experimental_group  user_id
0                  A      827
1                  B      827

In [12]:
print(ad_clicks.groupby(['experimental_group','is_click']).user_id.count().reset_index().pivot(columns = 'is_click' , index = 'experimental_group',values = 'user_id').reset_index())

is_click experimental_group  False  True
0                         A    310   517
1                         B    255   572

In [15]:
a_clicks = ad_clicks[ad_clicks.experimental_group == 'A']
a_clicks.head()

,user_id,utm_source,day,ad_click_timestamp,experimental_group,is_click
0,008b7c6c-7272-471e-b90e-930d548bd8d7,google,6 - Saturday,7:18,A,False
2,00f5d532-ed58-4570-b6d2-768df5f41aed,twitter,2 - Tuesday,NaN,A,True
5,013b0072-7b72-40e7-b698-98b4d0c9967f,facebook,1 - Monday,NaN,A,True
6,0153d85b-7660-4c39-92eb-1e1acd023280,google,4 - Thursday,NaN,A,True
7,01555297-d6e6-49ae-aeba-1b196fdbb09f,google,3 - Wednesday,NaN,A,True

In [16]:
b_clicks = ad_clicks[ad_clicks.experimental_group == 'B']
b_clicks.head()

,user_id,utm_source,day,ad_click_timestamp,experimental_group,is_click
1,009abb94-5e14-4b6c-bb1c-4f4df7aa7557,facebook,7 - Sunday,NaN,B,True
3,011adc64-0f44-4fd9-a0bb-f1506d2ad439,google,2 - Tuesday,NaN,B,True
4,012137e6-7ae7-4649-af68-205b4702169c,facebook,7 - Sunday,NaN,B,True
9,01a210c3-fde0-4e6f-8efd-4f0e38730ae6,email,2 - Tuesday,15:21,B,False
10,01adb2e7-f711-4ae4-a7c6-29f48457eea1,google,3 - Wednesday,NaN,B,True

In [17]:
a_clicks_pivot = a_clicks.groupby(['is_click','day']).user_id.count().reset_index().pivot(index = 'day',columns = 'is_click',values = 'user_id').reset_index()
a_clicks_pivot

is_click            day  False  True
0            1 - Monday     43    70
1           2 - Tuesday     43    76
2         3 - Wednesday     38    86
3          4 - Thursday     47    69
4            5 - Friday     51    77
5          6 - Saturday     45    73
6            7 - Sunday     43    66

In [18]:
a_clicks_pivot['percent_clicked'] = a_clicks_pivot[True] / (a_clicks_pivot[True] + a_clicks_pivot[False])

In [19]:
print(a_clicks_pivot)

is_click            day  False  True  percent_clicked
0            1 - Monday     43    70         0.619469
1           2 - Tuesday     43    76         0.638655
2         3 - Wednesday     38    86         0.693548
3          4 - Thursday     47    69         0.594828
4            5 - Friday     51    77         0.601562
5          6 - Saturday     45    73         0.618644
6            7 - Sunday     43    66         0.605505